@media screen and (max-width: 850px) {
  .blog-roll{
    .post{
      .blog-right{
        @include flex(6);
      }
    }
  }
}
@media screen and (max-width: 770px) {
 .hero{
  padding: 60px 0;
 }
}
@media screen and (max-width: 730px) {
 .imgcontain .hoverdiv p{
    margin-top: 11%;
    font-size: 1.5rem;
    line-height: 1.5rem;
 }
}
@media screen and (max-width: 730px) {
 .portfolio-gird{
  display: block;
 }
 .imgcontain .hoverdiv p{
    margin-top: 21%;
    font-size: 2rem;
    line-height: 2rem;
 }
}
@media screen and (max-width: 640px) {
  .blog-roll{
    .post{
      .blog-right{
        @include flex(4);
      }
    }
  }
}
@media screen and (max-width: 585px) {
 .hero{
  h1{
    font-size: 4rem;
    line-height: 5rem;
  }
  p{
    font-size: 1.7rem;
    line-height: 1.7rem;
    padding: 0;
  }
 }
}
@media screen and (max-width: 540px) {
  body{
    h2{
      font-size: 2rem;
    }
  }
 .about-page{
    display: block;
    img{
      width: 50%;
    }
    .four-sixth{
      margin-left: 0;
    }
  }
}
@media screen and (max-width: 415px) {
  .blog-roll{
    .post{
      .blog-right{
        @include flex(3);
      }
    }
  }
  .main-navigation{
    li{
      a{
        font-size: 1rem;
      }
    }
  }
  .about-page{
    display: block;
    img{
      width: 80%;
    }
    .four-sixth{
      margin-left: 0;
    }
  }
  .imgcontain .hoverdiv p{
    margin-top: 19%;
    font-size: 1.5rem;
    line-height: 1.5rem;
 }
}
@media screen and (max-width: 400px) {
  .blog-roll{
    .post{
      .blog-left{
        display: none;
      }
    }
  }
  .single-post{
    h1{
      font-size: 2rem;
      line-height: 2rem;
    }
    .post-header{
      margin-bottom: 5px;
    }
  }
  .meta{
    display: none;
  }
}
@media screen and (max-width: 380px) {
 .hero{
  h1{
    font-size: 3rem;
    line-height: 4rem;
  }
  p{
    font-size: 1.3rem;
    line-height: 1.3rem;
    padding: 0;
  }
 }
}
@media screen and (max-width: 350px) {
  .blog-roll{
    .post{
      .blog-right{
        @include flex(2);
      }
    }
  }
}